body{
    background-color: darkseagreen;
    overflow-x: hidden;
    overflow-y: auto;
}

h5{
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: #422800;
    text-align: center;
    font-family: 'Gill Sans', bold, sans-serif;
    font-style: bold;
    font-size: 3rem;
}

p2{
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: #422800;
    text-align: center;
    font-family: 'Gill Sans', bold, sans-serif;
    font-size: x-large

}
 
/* Add a black background color to the top navigation */
.topnav {
    margin: 0;
    position: absolute;
    top: 10%;
    left: 80%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: #422800;
    font-family: 'Gill Sans', sans-serif;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #fbeee0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: white;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #fbeee0 ;
    color: black;
  }

#chap_cards {
    margin: 0;
    position: absolute;
    top: 200%;
    left: 60%;
    text-align: center;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    .card{
        background-color: #fbeee0;
        width: 250px;
        height: 200px;
        font-family: 'Gill Sans', sans-serif;
        color: #422800;
        padding: 10px 24px;
        margin: 5px 5px 5px 5px;
        cursor: pointer;
        display: block;
        float: left;

    }
    
    .card button:not(:last-child) {
        border-right: none; 
      }

    .card:after {
        content: "";
        clear: both;
        display: table;
      }

  }

a{
    color: #422800;
}