body{
    background-color: darkseagreen;
}

#start{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);


    .button-74 {
        background-color: #fbeee0;
        border: 2px solid #422800;
        border-radius: 30px;
        box-shadow: #422800 4px 4px 0 0;
        color: #422800;
        cursor: pointer;
        display: inline-block;
        font-weight: 600;
        font-size: 18px;
        padding: 0 18px;
        line-height: 50px;
        text-align: center;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation; 
    }
    
    .button-74:hover {
        background-color: #fff;
    }
    
    .button-74:active {
        box-shadow: #422800 2px 2px 0 0;
        transform: translate(2px, 2px);
    }
    
    @media (min-width: 768px) {
        #button-74 {
        min-width: 120px;
        padding: 0 25px; 
        }
    }

    
}    

h1{
    color: #422800;
    font-family: 'Gill Sans', sans-serif;
    font-style: bold;
    font-size: 3rem;
}

p {
    color: #422800;
    font-family: 'Gill Sans', sans-serif;
    font-size: x-large
}



#question{
    font-family: 'Gill Sans', sans-serif;
    font-weight: bold;   
    color: #422800; 
    font-size: 2rem;
    margin: 0;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#choices{

    margin: 5px;
    position: absolute;
    font-family: 'Gill Sans', sans-serif;
    color: #422800;
    top: 55%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    .choice {
        background-color: #fbeee0; 
        border: 1px solid #422800;
        color: #422800;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: block;
        margin: 5px 0 5px 0;
        font-size: 16px;
        border-radius: 12px;
        cursor: pointer;
    }

    .choice button:not(:last-child) {
        border-bottom: none; 
    }
    
    .choice:hover {
        background-color: #fff;
    }
}

#score{
    margin: 0;
    position: absolute;
    font-family: 'Gill Sans', sans-serif;
    color: #422800;
    font-size: 2rem;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#countdown {
    margin: 0;
    position: absolute;
    font-family: 'OCR A Std', monospace;
    color: #422800;
    font-size: 2rem;
    top: 15%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)

}
  







